# window settings
SCREENWIDTH = 1280
SCREENHEIGHT = 720

# shaders
VSHADER = ./shaders/vertex.glsl
FSHADER = ./shaders/fragment.glsl
VTEXSHADER = ./shaders/vertexTex.glsl
FTEXSHADER = ./shaders/fragmentTex.glsl
VLIGHTSHADER = ./shaders/light_vertex.glsl
FLIGHTSHADER = ./shaders/light_fragment.glsl

# graphics
MSAA = 4